/* reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  color:#98c8f8 !important;
}
ul,li{
  list-style-type: none;
}

/* standard and basic */

body{
  background: #0E325A;
  font-family: 'Raleway', sans-serif;
  position:relative;
}
body, section,footer,header{
  width:100%;
}
body>*{
  /* border:1px solid yellow; */
  padding:0% 12%;
}


.col_2 .content{
  width:100%;
  float:left;
}
.col_2 .content>*{
  width:50%;
  float:left;
  color:white;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
.marker{color:#7fb802}
.marker2{color:#ec971f}
.greenBtn{
  background:#7fb802;
  color: #fff;
  border:none;
  border-radius: 5px;
}
/*only for test */
/* .wrapper>*{
  height:500px;
} */
/* body>*>*{
  border:1px solid white;
}
.content{border: 3px solid green;}
.content>*{border: 1px solid red;}
.wrapper{
  border:1px solid red;
} */
/*end*/



/* HEADER */

header{
  color:white;
  width:100%;
  position:fixed;
  top:0;
  font-size: 11px;
  background: #0E325A;

}


header nav,
header nav ul,
header nav li,
header div>*
{
  float:left;
  height: 80px;
}

header nav{padding-left: 7vw}
header .login{padding-right: 7vw}
header li{
  position: relative;
  padding:0 10px;
}

header li a,
header div>*{
  display: block;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  color:#fff;
}
header li a{
  color:white !important;
  text-decoration: none;
}
header li a:hover{
  color:#F8B71C !important
}

header .login{
  float:right;
  height: 80px;
}
header div>*{
  height:auto;
  padding:0 10px;
}
header div>label{
  color: rgba(255, 255, 255, 0.5);
}
header div>*:not(:first-child){
  height:30px;
  border-radius: 3px;
  cursor: pointer;
}
header div #logBtn{
  background: #0E325A;
  border:1px solid #4e8cb6;
  padding:0 30px;
  margin:0 10px;
}




/* COLUMN 1 CONTENT MAINCAPTION-HOWTO-FAQ*/
.col_1:not(.faq){
    text-align: center;
    height:auto;
}
.col_1.mainCaption,
.col_1.faq{
  padding:30px 0 40px;
}
.col_1.mainCaption{
  background: #f9f9f9;
}
.col_1.mainCaption h2,
.col_1.mainCaption h3{
  font-weight:400;
  margin:8px 0
}
.col_1.mainCaption h3{
  color:#999999
}

.col_1.howTo{
  padding:45px 33.8vw 75px;
  background: #fff;
}
.col_1.howTo>*{
  margin: auto;
}
.col_1 .howToText{
  margin-top: 20px;
}
.col_1 .howToText>*{
  margin-bottom: 8px;
}
.col_1 .howToText>*:not(:first-child){
  font-weight:400;
  color:#999999;
}
.col_1 .howToText a{
  text-decoration: underline;
}

.col_1.faq{
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  height: auto;} /*provvisorio*/
.col_1.faq h2{
  color:white;
  margin-bottom: 8px;
}
.col_1.faq h3{
  color:#999999;
  font-weight:400;
  margin-bottom: 8px;
}
/* END COL1 */


/* COLUMN 2 */
.col_2.mainHeader{
  padding:15vh 18vw 12vh;
  margin-top: 80px;
  /* border:3px solid red; */
  background: url("../img/oldman.png") no-repeat;
  background-position:bottom right;
  background-size: 52%;
}

.col_2.mainHeader h1{
  font-size:42px;
  margin-bottom:8px;
}
.col_2.mainHeader button{
  padding:13px 10px;
  margin:30px 0 8px;
  border-radius: 5px;
  font-size: 13px;
}



.col_2.testUself{
  background-color: #fff;
  padding-top:40px;
  padding-bottom:40px;;
}
.col_2.testUself .content .block_1 img{
  width:58%;
  margin-left: 9.3vw
}
.col_2.testUself .content .block_2{
  color: #4a4a4a;
  padding:8.7vh 8.3vw 8.7vh 4.8vw
}
.col_2.testUself .content .block_2 h2{
  line-height: 45px;
  font-size: 30px;
}
.col_2.testUself .content .block_2 p{
  margin:16px 0;
  color: #999;
}


.col_2.tryUplan{
  background:#f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px;
}
.col_2.tryUplan .content .block_1{
  padding-left: 7vw;
  color:#4a4a4a;
}
.col_2.tryUplan .content .block_1 h2{
  font-size: 30px;
  line-height: 30px;
  padding:10px;
}

.col_2.tryUplan .content .block_2{
  padding: 4px;
}
.col_2.tryUplan .content .block_2>*{
  display: inline-block;
  float: left;
  height:42px;
}

.col_2.tryUplan .content .block_2 form>*{
  color: #999;
  font-size: 30px;
  padding:10px;
}
.col_2.tryUplan .content .block_2 form>select{
  border-radius:0px;
  border:none;
  border-bottom: 3px solid #999;
  color:#4a4a4a;
  width:350px
}
.col_2.tryUplan .content .block_2>button{
  width:220px;
  font-size: 17px;
  margin-left: 10px;
}






/* FOOTER */
footer{
  font-size: 16px;
  background:#18406B;
  position:relative;
}
footer a{
  color:rgba(255, 255, 255, 0.5);
}

footer .content{
  padding:6.5vh 7vw;
}

footer .content>*{
  float: left;
  width:50%;
  padding:0 8px 8px;
}
footer .content li{
  padding:8px;
  line-height: 1.5;
}

footer .content>.block_1 li:first-child{padding-top:0}
footer .content>.block_1 li:first-child a{
  font-size: 12px;
  color:#fff
}

footer .content>.block_2{
  width:33%;
  text-align: right;
  color:rgba(255, 255, 255, 0.5);
}
footer .content>.block_2>ul{
  float: right;
  width:100%;
}
footer .content>.block_2 li{
  margin-bottom: 20px;
}

footer .content>.block_2 li:not(:last-child){
  font-weight: 600;
  font-size: 18px;
  color: white;
}
.greenBtn.help{
  position: fixed;
  bottom:0;
  right:10%;
  padding:15px;
  font-size:13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
